<div class="relative flex flex-col space-y-4 justify-evenly items-center bg-gray-300 dark:bg-slate-700 rounded-lg p-6">
    <div (click)="closeRakatsPopUp()"
        class="absolute -top-2 -right-2 rounded-full bg-slate-800 dark:bg-gray-200 p-1 text-gray-200 dark:text-slate-800">
        <svg class="size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor">
            <path
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
        </svg>
    </div>

    @if(getRakat()?.before_fard?.sunnah != 0){
    <div class="flex flex-row space-x-4 justify-between items-center">
        <span>
            Before Fard (Sunnah)
        </span>
        <span>
            {{getRakat()?.before_fard?.sunnah}}
        </span>
    </div>
    }

    <div class="flex flex-row space-x-4 justify-between items-center">
        <span>
            Fard
        </span>
        <span>
            {{getRakat()?.fard}}
        </span>
    </div>

    @if(getRakat()?.after_fard?.sunnah != 0){
    <div class="flex flex-row space-x-4 justify-between items-center">
        <span>
            After Fard (Sunnah)
        </span>
        <span>
            {{getRakat()?.after_fard?.sunnah}}
        </span>
    </div>
    }

    @if(getRakat()?.after_fard?.nafl != 0){
    <div class="flex flex-row space-x-4 justify-between items-center">
        <span>
            After Fard (Nafl)
        </span>
        <span>
            {{getRakat()?.after_fard?.nafl}}
        </span>
    </div>
    }

    @if(getRakat()?.after_fard?.wajib != 0){
    <div class="flex flex-row space-x-4 justify-between items-center">
        <span>
            After Fard (Wajib)
        </span>
        <span>
            {{getRakat()?.after_fard?.wajib}}
        </span>
    </div>
    }
</div>