<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur
                ex
                aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
                quos
                quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Principal Consultant</h4>
                    <h5>Mar 2022 - Present</h5>
                    <p><em>Genpact India, Mumbai, IN</em></p>
                    <ul>
                        <li>Spearheaded the development of a Customer
                            Self-Service Portal for GE Healthcare, overseeing
                            the project as a Full Stack implementation.
                            Seamlessly integrated microservices, enhancing
                            platform efficiency and robustness.</li>
                        <li>Implemented the APIGEE gateway to ensure secure
                            OAuth authentication, safeguarding sensitive data
                            and optimizing user experience.</li>
                        <li>Integrated third-party APIs, including Single
                            Sign-On (SSO), simplifying user authentication and
                            enhancing portal accessibility. Also incorporated
                            APIs for email notifications, improving user
                            communication.</li>
                        <li>Introduced WebRTC technology for live call support,
                            enabling real-time communication between customers
                            and support agents. This feature enhances customer
                            experience by providing immediate assistance.</li>
                        <li>Contributed to the creation of a comprehensive and
                            user-friendly portal that enhances customer
                            satisfaction and strengthens client
                            relationships.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Assistant Consultant</h4>
                    <h5>Jan 2014 - Mar 2022</h5>
                    <p><em>Tata Consultancy Services Limited, Mumbai,
                            IN</em></p>
                    <ul>
                        <li>Improvise the security standards for the application
                            to make it complaint with the OWASP top 10 Incident
                            Response Guidance.</li>
                        <li>Have developed automation tool and APIs for Card
                            Management System(CMS) at client location which
                            helped in doing basic sanity operations on
                            application before and after deployment and share
                            use the results.</li>
                        <li>Have containerised the monolithic application in
                            Docker, pushing it client repository, doing health
                            checks and resolve performance related issues before
                            going for production release.</li>
                        <li>Have hands-on experience on spring boot which helped
                            my in developing micro-services and helped core
                            banking modules to be consumed by other third party
                            vendors in IDFC First Bank project.</li>
                        <li>Have working as a Technical Lead, handling THREE
                            projects - IDFC First Bank(India), Jamuna Bank
                            Limited(Bangladesh) and Mutual Trust
                            Bank(Bangladesh).</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Personal Projects</h3>
                <div class="resume-item">
                    <h4>Iqra Battery</h4>
                    <p>
                        <a href="https://iqrabattery.web.app">
                            <em>Link - https://iqrabattery.web.app</em>
                        </a>
                    </p>
                    <ul>
                        <li>Iqra Battery Shop, is premier destination for all
                            things battery-related to EXIDE and Amaron. It is
                            committed to providing customer with a seamless and
                            hassle-free experience when it comes to finding the
                            perfect battery for your needs.</li>
                        <li>The importance of reliable and long-lasting power
                            and it offer an extensive range of high-quality
                            batteries, carefully curated to meet the diverse
                            requirements of our customers. Whether customer
                            looking for batteries for your home appliances,
                            vehicles, electronic devices, or even specialty
                            applications.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>HAA Enterprises</h4>
                    <p>
                        <a href="https://haaenterprises.web.app">
                            <em>Link - https://haaenterprises.web.app</em>
                        </a>
                    </p>
                    <ul>
                        <li>Developed a web application for HAA Enterprises,
                            specializing in Tyre Vulcanization and rubber sales,
                            enabling direct purchase of truck Tyre rubber from
                            inventory.</li>
                        <li>Created an intuitive interface showcasing products,
                            pricing, and details, allowing easy navigation based
                            on type, size, and price range.</li>
                        <li>Integrated a shopping cart for adding products and
                            secure checkout, simplifying the purchasing process
                            for customers.</li>
                        <li>Designed a user-friendly layout and streamlined
                            checkout process, enhancing usability and customer
                            satisfaction.</li>
                        <li>The application significantly contributes to
                            business growth by improving customer satisfaction
                            and streamlining transactions for HAA
                            Enterprises.</li>
                    </ul>
                </div>
                <div class="resume-item pb-0">
                    <h4>Madarasa Al-Jamiya Darul Suffa</h4>
                    <p>
                        <a href="https://aljamiyadarulsuffa.web.app">
                            <em>Link - https://aljamiyadarulsuffa.web.app</em>
                        </a>
                    </p>
                    <ul>
                        <li>Developed a web application for Madarasa, an
                            educational institution that provides instruction
                            in Islamic studies.</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Technology</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Lakireddy Bali Reddy College of Engineering &amp;
                            Technology, Mylavaram,
                            AP, IN</em></p>
                    <p>CGPA - <strong>8.6</strong></p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->