<div class="relative flex flex-col items-center justify-center max-w-md mx-auto">
    <div class="absolute top-0 left-0 right-0 flex flex-row justify-center items-center py-2 z-[8]">
        <div class="flex flex-row">
            <button type="button" (click)="prevPage()">
                <svg class="size-8 text-slate-600 dark:text-gray-400 hover:text-slate-800 dark:hover:text-gray-200 active:text-slate-800 dark:active:text-gray-200 focus:text-slate-800 dark:focus:text-gray-200"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                    <path
                        d="M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z" />
                </svg>
            </button>
            <button type="button" (click)="nextPage()">
                <svg class="size-8 text-slate-600 dark:text-gray-400 hover:text-slate-800 dark:hover:text-gray-200 active:text-slate-800 dark:active:text-gray-200 focus:text-slate-800 dark:focus:text-gray-200"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                    <path
                        d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z" />
                </svg>
            </button>
        </div>
        <div class="font-semibold text-md px-4">
            {{page}} / {{totalPages}}
        </div>
    </div>
    <pdf-viewer [src]="pdfSrc" [original-size]="true" [render-text]="true" [rotation]="0" [show-all]="true"
        [fit-to-page]="true" [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="true"
        [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false" class="pdf-viewer" [page]="page"
        (after-load-complete)="afterLoadComplete($event)" class="pdf-viewer" (error)="onError($event)">
    </pdf-viewer>

</div>