<div class="flex flex-col items-center justify-start md:justify-center h-screen bg-slate-600">
  <div class="flex flex-col justify-center items-center space-y-10">

    @if (error) {
    <p>{{error}}</p>
    }

    @if (selectedLat && selectedLng) {
    <app-salah-times [latitude]="selectedLat" [longitude]="selectedLng"
      class="bg-slate-800 max-w-xl min-h-screen text-center text-gray-300 rounded-none md:rounded-lg shadow-lg">
    </app-salah-times>
    }
  </div>

  <!-- Menu added for mobile -->
  <app-menu-mobile></app-menu-mobile>
</div>